@model GamePlatform.Models.PlayerGame
@{
    ViewData["Title"] = "Dodaj gracza do gry";
}
<h1>Dodaj gracza do gry</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlayerId" class="control-label">Gracz</label>
                <select asp-for="PlayerId" class="form-control" asp-items="ViewBag.PlayerId">
                    <option value="">-- Wybierz gracza --</option>
                </select>
                <span asp-validation-for="PlayerId" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="GameId" class="control-label">Gra</label>
                <select asp-for="GameId" class="form-control" asp-items="ViewBag.GameId">
                    <option value="">-- Wybierz grę --</option>
                </select>
                <span asp-validation-for="GameId" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Utwórz" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}