@{
    ViewData["Title"] = "Strona główna";
}

<h1>Witaj w GamePlatform!</h1>
<p>Przejdź do <a asp-controller="Games" asp-action="Index">listy gier</a>.</p>
<p>Przejdź do <a asp-controller="Players" asp-action="Index">listy graczy</a>.</p>
<p>Przejdź do <a asp-controller="PlayerGames" asp-action="Index">listy graczy gry</a>.</p>